  .error-page {
    padding-top: 65px;
    padding-bottom: 50px;
    background-color: $error-page-bg;
    background-image: url("../assets/img/palm_bg_desktop.png"), url("../assets/img/bambuk-bg.jpg");
    background-repeat: no-repeat;
    background-size: 292px 460px, contain;
    background-position: bottom left, top 0px right -100px;
  }

  .error-page__wrapper {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .error-page__title {
    font-size: 85px;
    font-weight: bold;
    color: $orange;
    margin-top: 10px;
    margin-bottom: 45px;
  }

  .error-page__box {
    margin: 0 auto;
    margin-top: 20px;
  }

  .error-page__img {
    display: block;
    width: 589px;
    height: 451px;
  }

  .error-page__text {
    font-size: 45px;
    font-weight: 500;
    color: $main-text-color;
  }

  .error-page__links {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .error-page__links a {
    border-radius: 25px;
  }

  .error-page__links span {
    font-size: 36px;
    font-weight: 500;
    color: $main-text-color;
  }

  @media (max-width: $tablet-width) {
    .error-page {
      background-image: url("../assets/img/palm_bg_tablet.png"), url("../assets/img/bambuk-bg-tablet.jpg");
      background-repeat: no-repeat;
      background-size: 134px 202px, contain;
      background-position: bottom left, bottom right;
    }
    .error-page__title {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .error-page__bottom {
      width: 93%;
    }
    .error-page__links {
      width: 100%;
      justify-content: space-around;
    }
    .error-page__links a {
      padding: 15px 75px;
    }
  }

  @media (max-width: $mobile-width) {
    .error-page {
      padding-top: 70px;
      padding-bottom: 10px;
    }
    .error-page__text,
    .error-page__links span {
      font-size: 30px;
    }
    .error-page__img {
      width: 290px;
      height: 222px;
    }
    .error-page__links {
      flex-direction: column;
    }
    .error-page__links {
      >* {
        margin-bottom: 20px;
      }
    }
    .error-page__links a {
      width: 260px;
    }
  }
