.animal-page__camera {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 100px;
  position: relative;
}

.animal-page__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.animal-page__title {
  @include second-level-headings ();
  color: $main-text-color;
  margin-top: 0;
  margin-bottom: 15px;
}

.animal-page__donate {
  width: 100%;
  height: 390px;
  background-size: cover;
  background-position: top center;
}

.animal-page__donate--panda {
  background-image: url("../assets/img/panda_bg_desktop.png");
}

.animal-page__donate--gorilla {
  background-image: url("../assets/img/gorilla_bg_desktop.jpg");
}

.animal-page__donate--eagle {
  background-image: url("../assets/img/eagle_bg_desktop.jpg");
}

.animal-page__donate--alligator {
  background-image: url("../assets/img/alligator_bg_desktop.jpg");
}

.animal-page__donate a {
  display: inline-block;
  margin-top: 276px;
  border-radius: 25px;
  padding: 15px 117px;
}
