.animal-info {
  text-align: left;
  padding-bottom: 181px;
  background-image: url("../assets/img/strelitzia_desktop2.png"), url("../assets/img/leav_bg_desktop2.png");
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
  background-size: 306px 229px, 215px 292px;
}

.animal-info__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.animal-info__wrapper hr {
  margin-top: 20px;
}

.animal-info__title {
  @include second-level-headings ();
  font-weight: 500;
  color: $green;
  margin-bottom: 25px;
}

.animal-info__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.animal-info__foto {
  width: 422px;
  height: 421px;
}

.animal-info__text-block {
  width: 668px;
  margin-left: 55px;
  margin-bottom: 10px;
}

.animal-info__annotation {
  margin-top: -42px;
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #ABABAB;
}

.animal-info__link {
  border-radius: 25px;
  padding: 15px 75px;
}

.animal-info__annotation a,
.description-animal__text a {
  text-decoration: none;
  color: $green;
}
