.backstage {
  padding-top: 100px;
  padding-bottom: 86px;
  background-image: url("../assets/img/flower_bg_desktop.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 281px auto;
}

.backstage__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.backstage__img {
  margin-right: 86px;
  margin-top: 25px;
}

.backstage__info {
  width: 465px;
  text-align: left;
}

.backstage__title {
  @include second-level-headings ();
  color: $main-text-color;
}

.backstage__subtitle {
  @include fourth-level-headings ();
  color: $main-text-color;
}

@media (max-width: $small-desktop-width) {
  .backstage {
    padding-top: 50px;
    padding-bottom: 46px;
    background-image: none;
  }
  .backstage__wrapper {
    max-width: 940px;
  }
  .backstage__img {
    width: 455px;
    height: 408px;
    margin-right: 44px;
    margin-top: 42px;
  }
  .backstage__title {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .backstage__subtitle {
    margin-top: 54px;
  }
}
