  .map {
  width: 100%;
  background-color: #EAF7FE;
  padding-top: 103px;
  padding-left: 5px;
  padding-bottom: 113px;
}

.map__container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.map__img {
  width: 1085px;
  height: 717px;
}

.map__animals-list,
.map__animals-tooltips {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map__animals-list {
  list-style: none;
}

.map__animals-item {
  position: absolute;
  z-index: 100;
  transition: all 0.2s;
  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 33px;
    background-image: Url("../assets/icons/pin.png");
    background-repeat: no-repeat;
    background-size: 26px 33px;
  }
}

.map__animals-item--pandas {
  left: 1066px;
  top: 380px;
  &::before {
    top: -14px;
    left: 38px;
  }
}

.map__animals-item--panda {
  left: 1072px;
  top: 312px;
  &::before {
    top: 6px;
    left: 38px;
  }
}

.map__animals-item--eagle1 {
  top: 354px;
  left: 348px;
  &::before {
    top: -6px;
    left: 44px;
  }
}

.map__animals-item--eagle2 {
  top: 388px;
  left: 380px;
  &::before {
    display: none;
  }
}

.map__animals-item--gorillas {
  top: 488px;
  left: 798px;
  &::before {
    top: -38px;
    left: 0px;
  }
}

.map__animals-item--crocodile {
  top: 402px;
  left: 500px;
  &::before {
    top: -37px;
    left: 8px;
  }
}

.map-animals__img {
  display: block;
}

.map__animals-tooltip {
  width: 158px;
  position: absolute;
  background-color: $white;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid $black;
  border-radius: 5px;
  display: none;
  top: 24px;
  left: -22px;
}

.map__animals-tooltip p {
  color: $black;
  margin: 0;
  text-align: left;
}

.map__animals-link {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 9px;
  margin-bottom: 4px;
  color: $green;
  border-radius: 5px;
  align-self: center;
  background-color: $light-gray;
}

.map__animals-item:hover img {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.2s;
}

.map__animals-item--pandas:hover .map__animals-tooltip--panda {
  display: block;
}

.map__animals-item--panda:hover .map__animals-tooltip--panda {
  display: block;
}

.map__animals-item--eagle1:hover .map__animals-tooltip--eagle {
  display: block;
}

.map__animals-item--eagle2:hover .map__animals-tooltip--eagle {
  display: block;
}

.map__animals-item--gorillas:hover .map__animals-tooltip--gorillas {
  display: block;
}

.map__animals-item--crocodile:hover .map__animals-tooltip--alligators {
  display: block;
}

.map__buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -73px;
  right: 40px;
}

.map__btn {
  width: 54px;
  height: 54px;
  background: #FFFFFF;
  border-radius: 5px;
  color: #333B41;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}

.map__btn--minus {
  margin-top: 10px;
}

@media (max-width: $small-desktop-width) {
  .map {
    padding-bottom: 32px;
  }
  .map__container {
    max-width: 940px;
  }
  .map__img {
    width: 940px;
    height: 621px;
    margin-top: -14px;
  }
  .map__animals-item {
    &::before {
      width: 22px;
      height: 28px;
      background-size: 22px 28px;
    }
  }
  .map__animals-item--eagle1 {
    top: 289px;
    left: 79px;
    &::before {
      top: -4px;
      left: 41px;
    }
  }
  .map__animals-item--eagle1 img {
    width: 38px;
    height: 38px;
  }
  .map__animals-item--eagle2 {
    top: 320px;
    left: 106px;
  }
  .map__animals-item--eagle2 img {
    width: 43px;
    height: 19px;
  }
  .map__animals-item--gorillas {
    top: 406px;
    left: 470px;
    &::before {
      top: -33px;
      left: 0;
    }
  }
  .map__animals-item--gorillas img {
    width: 43px;
    height: 35px;
  }
  .map__animals-item--pandas {
    left: 702px;
    top: 313px;
    &::before {
      top: -13px;
      left: 33px;
    }
  }
  .map__animals-item--pandas img {
    width: 40px;
    height: 36px;
  }
  .map__animals-item--panda {
    left: 708px;
    top: 253px;
    &::before {
      left: 32px;
    }
  }
  .map__animals-item--panda img {
    width: 32px;
    height: 42px;
  }
  .map__animals-item--crocodile {
    top: 333px;
    left: 211px;
    &::before {
      top: -34px;
    }
  }
  .map__animals-item--crocodile img {
    width: 65px;
    height: 17px;
  }
  .map__buttons {
    position: sticky;
    bottom: 0;
    margin-left: 95%;
    padding-bottom: 20px;
    margin-top: -106px;
  }
  @media (max-width: $tablet-width) {
    .map {
      padding-bottom: 20px;
    }
    .map__container {
      max-width: 600px;
    }
    .map__img {
      width: 595px;
      height: 393px;
      margin-top: -14px;
    }
    .map__buttons {
      display: none;
    }
    .map__animals-item {
      &::before {
        width: 14px;
        height: 18px;
        background-size: 14px 17px;
      }
    }
    .map__animals-item--gorillas {
      top: 246px;
      left: 299px;
      &::before {
        top: -20px;
        left: 0px;
      }
    }
    .map__animals-item--gorillas img {
      width: 27px;
      height: 22px;
    }
    .map__animals-item--pandas {
      left: 446px;
      top: 188px;
      &::before {
        top: -8px;
        left: 20px;
      }
    }
    .map__animals-item--pandas img {
      width: 25px;
      height: 23px;
    }
    .map__animals-item--panda {
      left: 448px;
      top: 150px;
      &::before {
        top: 4px;
        left: 21px;
      }
    }
    .map__animals-item--panda img {
      width: 20px;
      height: 27px;
    }
    .map__animals-item--crocodile {
      top: 199px;
      left: 136px;
      &::before {
        top: -19px;
        left: 3px;
      }
    }
    .map__animals-item--crocodile img {
      width: 41px;
      height: 11px;
    }
    .map__animals-item--eagle1 {
      top: 174px;
      left: 52px;
      &::before {
        top: -4px;
        left: 23px;
      }
    }
    .map__animals-item--eagle1 img {
      width: 24px;
      height: 24px
    }
    .map__animals-item--eagle2 {
      top: 192px;
      left: 70px;
    }
    .map__animals-item--eagle2 img {
      width: 27px;
      height: 12px;
    }
  }
  @media (max-width: $mobile-width) {
    .map {
      overflow-x: hidden;
      padding-bottom: 41px;
      padding-left: 0;
    }
    .map__container {
      max-width: 100vw;
    }
    .map__img {
      width: 100vw;
      height: auto;
      transform: scale(1.3);
      margin-top: -2px;
      margin-left: 17px;
    }
    .map__animals-item {
      &::before {
        width: 10px;
        height: 12px;
        background-size: 10px 12px;
      }
    }
    .map__animals-item--gorillas {
      top: 142px;
      left: 177px;
      &::before {
        top: -14px;
      }
    }
    .map__animals-item--gorillas img {
      width: 19px;
      height: 15px;
    }
    .map__animals-item--pandas {
      left: 277px;
      top: 101px;
      &::before {
        top: -5px;
        left: 15px;
      }
    }
    .map__animals-item--pandas img {
      width: 17px;
      height: 16px;
    }
    .map__animals-item--panda {
      left: 280px;
      top: 76px;
      &::before {
        top: 4px;
        left: 14px;
      }
    }
    .map__animals-item--panda img {
      width: 14px;
      height: 18px;
    }
    .map__animals-item--crocodile {
      top: 109px;
      left: 65px;
      &::before {
        top: -13px;
      }
    }
    .map__animals-item--crocodile img {
      width: 28px;
      height: 8px;
    }
    .map__animals-item--eagle1 {
      top: 91px;
      left: 7px;
      &::before {
        top: -2px;
        left: 18px;
      }
    }
    .map__animals-item--eagle1 img {
      width: 17px;
      height: 17px;
    }
    .map__animals-item--eagle2 {
      top: 105px;
      left: 19px;
    }
    .map__animals-item--eagle2 img {
      width: 19px;
      height: 8px;
    }
  }
