.map {
  width: 100%;
  background-color: #EAF7FE;
  padding-top: 103px;
  padding-left: 5px;
  padding-bottom: 113px;
}

.map__container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.map__img {
  width: 1085px;
  height: 717px;
}

.map__animals-list,
.map__animals-tooltips {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map__animals-list {
  list-style: none;
}

.map__animals-item {
  position: absolute;
  z-index: 100;
  transition: all 0.2s;
}

.map__animals-item--pandas {
  left: 1066px;
  top: 380px;
}

.map__animals-item--panda {
  left: 1072px;
  top: 312px;
}

.map__animals-item--eagle1 {
  top: 354px;
  left: 348px;
}

.map__animals-item--eagle2 {
  top: 388px;
  left: 380px;
}

.map__animals-item--gorillas {
  top: 488px;
  left: 798px;
}

.map__animals-item--crocodile {
  top: 402px;
  left: 500px;
}

.map__animals-item::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 33px;
  background-image: Url("../assets/icons/pin.png");
  background-repeat: no-repeat;
  background-size: 26px 33px;
}

.map__animals-item--pandas::before {
  top: -14px;
  left: 38px;
}

.map__animals-item--panda::before {
  top: 6px;
  left: 38px;
}

.map__animals-item--eagle1::before {
  top: -6px;
  left: 44px;
}

.map__animals-item--eagle2::before {
  display: none;
}

.map__animals-item--gorillas::before {
  top: -38px;
  left: 0px;
}

.map__animals-item--crocodile::before {
  top: -37px;
  left: 8px;
}

.map-animals__img {
  display: block;
}

.map__animals-tooltip {
  width: 158px;
  position: absolute;
  background-color: $white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid $black;
  border-radius: 5px;
  display: none;
  top: 50px;
  left: -45px;
}

.map__animals-tooltip p {
  color: $black;
  margin: 0;
}

.map__animals-tooltip button {
  padding: 5px;
  margin-top: 5px;
  color: $green;
  border-radius: 5px;
  align-self: center;
}

.map__animals-item:hover img {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.2s;
}

.map__animals-item--pandas:hover .map__animals-tooltip--panda {
  display: block;
}

.map__animals-item--panda:hover .map__animals-tooltip--panda {
  display: block;
}

.map__animals-item--eagle1:hover .map__animals-tooltip--eagle {
  display: block;
}

.map__animals-item--eagle2:hover .map__animals-tooltip--eagle {
  display: block;
}

.map__animals-item--gorillas:hover .map__animals-tooltip--gorillas {
  display: block;
}

.map__animals-item--crocodile:hover .map__animals-tooltip--alligators {
  display: block;
}

.map__buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -73px;
  right: 40px;
}

.map__btn {
  width: 54px;
  height: 54px;
  background: #FFFFFF;
  border-radius: 5px;
  color: #333B41;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}

.map__btn--minus {
  margin-top: 10px;
}
