.pick-and-feed {
  background: $orange-gradient-bg;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 98px;
}

.pick-and-feed__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  background: $opacity-bg;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 58px;
}

.pick-and-feed__title {
  @include second-level-headings ();
  color: $orange;
  margin-top: 0;
  margin-bottom: 0;
}

.pick-and-feed__subtitle {
  @include fourth-level-headings ();
  color: $main-text-color;
  margin-bottom: 40px;
}

.pick-and-feed__subtitle,
.pick-and-feed__info,
.pick-and-feed__text {
  margin-left: 100px;
  text-align: left;
}

.pick-and-feed__info {
  margin-bottom: 0;
}

.pick-and-feed__text {
  width: 870px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.pick-and-feed__text-link {
  display: inline-block;
  color: #333B41;
  padding-bottom: 3px;
  border-bottom: 1px solid $orange;
}

.pick-and-feed__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 65px;
  padding-left: 120px;
  padding-right: 120px;
}

.pick-and-feed__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

.pick-and-feed__item:not(:last-of-type) {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-pick-and-feed.png");
    background-repeat: no-repeat;
    background-size: 71px 37px;
    background-position: center;
    width: 71px;
    height: 37px;
    top: 24%;
    left: 200px;
  }
}

.pick-and-feed__container-img {
  width: 168px;
  height: 168px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: 1px solid $orange;
  border-radius: 5px;
  box-sizing: border-box;
  background-clip: padding-box;
}

.pick-and-feed__container-img--pay img {
  width: 108px;
  height: 60px;
}

.pick-and-feed__container-img--zoo img {
  width: 87px;
  height: 96px;
}

.pick-and-feed__container-img--monkey img {
  width: 127px;
  height: 73px;
}

.pick-and-feed__item p {
  width: 168px;
  text-align: left;
}

.pick-and-feed__link {
  display: inline-block;
  border-radius: 25px;
  padding: 14px 74px;
}

.pick-and-feed__caption {
  @include third-level-headings ();
  color: $main-text-color;
  margin-top: 54px;
}

@media (max-width: $small-desktop-width) {
  .pick-and-feed {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .pick-and-feed__wrapper {
    max-width: 940px;
    padding-top: 30px;
    padding-bottom: 51px;
  }
  .pick-and-feed__subtitle {
    width: 844px;
    margin-top: 22px;
    margin-bottom: 20px;
  }
  .pick-and-feed__subtitle,
  .pick-and-feed__info,
  .pick-and-feed__text {
    margin-left: 50px;
  }
  .pick-and-feed__info,
  .pick-and-feed__text {
    width: 806px;
  }
  .pick-and-feed__info {
    font-weight: 500;
    line-height: 130%;
  }
  .pick-and-feed__text-link {
    padding-bottom: 0;
  }
  .pick-and-feed__caption {
    margin-top: 40px;
  }
  .pick-and-feed__list {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 56px;
  }
  .pick-and-feed__item p {
    margin-top: 30px;
  }
  .pick-and-feed__item:not(:last-of-type)::after {
    top: 23%;
    left: 196px;
  }
}
