.testimonials {
  width: 100%;
  padding-top: 104px;
  padding-bottom: 177px;
  background-image: url("../assets/img/leav_bg_desktop.png");
  background-repeat: no-repeat;
  background-position: right 644px;
  background-size: 247px 408px;
}

.testimonials__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.testimonials__title {
  @include third-level-headings ();
  color: #333B41;
  margin-bottom: 26px;
}

.testimonials__list {
  width: 100;
  padding: 2px;
  margin-top: 23px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  overflow: hidden;
}

.testimonials__controls {
  margin-bottom: 25px;
}

.testimonials__link {
  display: inline-block;
  align-self: flex-start;
  border-radius: 5px;
  padding: 15px 84px;
  margin-bottom: 10px;
}

.testimonials__controls input[type=range] {
  width: 600px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #F5F7F6;
  height: 8px;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  width: 115px;
  height: 8px;
  background: $orange;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  background: #F5F7F6;
  height: 8px;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  width: 115px;
  height: 8px;
  background: $orange;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.testimonials__link {
  margin-bottom: 3px;
}

@media (max-width: $small-desktop-width) {
  .testimonials {
    padding-top: 65px;
    padding-bottom: 137px;
    background-image: url("../assets/img/leav_bg_small-desktop.png");
    background-position: right 604px;
    background-size: 196px 325px;
  }
  .testimonials__wrapper {
    max-width: 940px;
  }
  .testimonials__title {
    margin-bottom: 8px;
  }
  .testimonials__list {
    padding: 2px;
  }
  .testimonials__controls {
    margin-bottom: 44px;
  }
  .testimonials__controls input[type=range] {
    width: 390px;
  }
  input[type=range]::-webkit-slider-thumb {
    width: 75px;
    height: 6px;
  }
  input[type=range]::-moz-range-thumb {
    width: 75px;
    height: 6px;
  }
}

@media (max-width: $tablet-width) {
  .testimonials {
    padding-top: 26px;
    padding-bottom: 78px;
    background-image: url("../assets/img/leav_bg_tablet.png");
    background-position: right 533px;
    background-size: 116px 204px;
  }
  .testimonials__wrapper {
    max-width: 600px;
    align-items: center;
  }
  .testimonials__list {
    flex-direction: column;
    margin-top: 22px;
    height: 363px;
  }
  .testimonials__controls {
    display: none;
  }
  .testimonials__link {
    margin-top: 19px;
    align-self: center;
    padding: 15px 54px;
  }
}

@media (max-width: $mobile-width) {
  .testimonials {
    padding-bottom: 56px;
    background-image: url("../assets/img/leav_bg_mobile.png");
    background-position: right 516px;
    background-size: 51px 94px;
  }
  .testimonials__wrapper {
    max-width: 97%;
  }
  .testimonials__title {
    font-size: 24px;
    line-height: 120%;
    margin-top: 5px;
    margin-left: -2px;
  }
  .testimonials__list {
    margin-top: 12px;
    margin-bottom: 6px;
    padding: 2px 7px;
  }
}
