.testimonials {
  width: 100%;
  padding-top: 104px;
  padding-bottom: 177px;
  background-image: url("../assets/img/leav_bg_desktop.png");
  background-repeat: no-repeat;
  background-position: right 644px;
  background-size: 247px 408px;
}

.testimonials__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.testimonials__title {
  @include third-level-headings ();
  color: #333B41;
  margin-bottom: 26px;
}

.testimonials__list {
  width: 100;
  padding: 0;
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  overflow: hidden;
}

.testimonials__controls {
  margin-bottom: 20px;
}

.testimonials__link {
  display: inline-block;
  align-self: flex-start;
  border-radius: 5px;
  padding: 15px 84px;
}

@media (max-width: $small-desktop-width) {
  .testimonials {
    padding-top: 65px;
    padding-bottom: 140px;
    background-image: url("../assets/img/leav_bg_small-desktop.png");
    background-position: right 604px;
    background-size: 196px 325px;
  }
  .testimonials__wrapper {
    max-width: 940px;
  }
  .testimonials__title {
    margin-bottom: 8px;
  }
  .testimonials__list {
    padding: 2px;
  }
  .testimonials__controls {
    margin-bottom: 42px;
  }
}

@media (max-width: $tablet-width) {
  .testimonials {
    padding-top: 26px;
    padding-bottom: 80px;
    background-image: url("../../assets/img/leav_bg_tablet.png");
    background-position: right 533px;
    background-size: 116px 204px;
  }
  .testimonials__wrapper {
    max-width: 600px;
    align-items: center;
  }
  .testimonials__list {
    flex-direction: column;
    margin-top: 22px;
    height: 363px;
  }
  .testimonials__controls {
    display: none;
  }
  .testimonials__link {
    margin-top: 17px;
    align-self: center;
    padding: 15px 54px;
  }
}
