.testimonials {
  width: 100%;
  padding-top: 232px;
  padding-bottom: 177px;
  background-image: url("../assets/img/leav_bg_desctop.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 247px 408px;
}

.testimonials__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.testimonials__list {
  width: 100;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
}

.testimonials__controls {
  margin-bottom: 30px;
}

.testimonials__link {
  display: inline-block;
  align-self: flex-start;
  border-radius: 5px
}
