.watch-online__container {
  width: 100%;
  position: relative;
}

.watch-online__frame-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.watch-online__buttons {
  width: 1320px;
  position: absolute;
  top: 50%;
  left: -7%;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-online__button {
  width: 62px;
  height: 62px;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  background: $orange-gradient;
  position: relative;
  outline: none;
  &:hover {
    background: $green;
  }
  &:active {
    opacity: .7;
  }
}

.watch-online__button--left {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-left.png");
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
    width: 18px;
    height: 10px;
    top: 27px;
    left: 19px;
  }
}

.watch-online__button--right {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-right.png");
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
    width: 18px;
    height: 10px;
    top: 27px;
    left: 19px;
  }
}
