.watch-online__container {
  width: 100%;
  position: relative;
}

.watch-online__frame-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.watch-online__buttons {
  width: 1320px;
  position: absolute;
  top: 50%;
  left: -7%;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-online__button {
  width: 62px;
  height: 62px;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  background: $orange-gradient;
  position: relative;
  outline: none;
  &:hover {
    background: $green;
  }
  &:active {
    opacity: .7;
  }
}

.watch-online__button--left {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-left.png");
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
    width: 18px;
    height: 10px;
    top: 27px;
    left: 19px;
  }
}

.watch-online__button--right {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-right.png");
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
    width: 18px;
    height: 10px;
    top: 27px;
    left: 19px;
  }
}

@media (max-width: $small-desktop-width) {
  .watch-online__container {
    max-width: 940px;
  }
  .watch-online__frame-box {
    margin-top: 60px;
    justify-content: flex-start;
  }
  .watch-online__previews {
    width: 650px;
    height: 210px;
    overflow: hidden;
    margin-left: 116px;
  }
  .watch-online__previews img {
    width: 293px;
    height: 210px;
  }
  .watch-online__previews img {
    margin-right: 28px;
  }
  .watch-online__buttons {
    width: 65px;
    flex-direction: column-reverse;
    left: 82%;
    top: 31%;
  }
  .watch-online__button--right {
    margin-bottom: 10px;
  }
}
